.discover {
  height: 60vh;
  display: grid;
  grid-template-columns: 50% 50%;

  .discover-left {
    background: $white1;
    padding: 20px;
  }
  .discover-left-container {
    position: relative;
    border: 1px dashed $orange1;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    h3 {
      @include title;
      font-size: 2.7rem;
      font-weight: 400;
      letter-spacing: 0px;
      color: #946236;
      margin-top: 25px;
    }
    h4 {
      font-size: 1.7rem;
      font-family: $font2;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: -15px;
    }

    p {
      font-family: $font3;
      letter-spacing: 0px;
      margin: 80px auto 10px;
      width: 95%;

      &::before {
        content: url(../img/ic-plate.png);
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .discover-left-img {
      width: 10%;
      margin: 25px auto 15px;
    }
    .discover-left-img-container {
      background: url(../img/avatar-01.jpg) center/cover;
      height: 75px;
      width: 75px;
      border-radius: 50px;
    }
    h5 {
      font-family: $font2;
      font-weight: 600;
      letter-spacing: 1px;
    }
    span {
      font-family: $font3;
      font-weight: 900;
      color: $grey1;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
  .discover-right-img {
    background: url(../img/store-01.jpg) center/cover;
    padding: 25px;
  }
}
